<div class="dashboard-wrapper">
  <div class="container-fluid  dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
          <button class="btn btn-primary" data-toggle="modal" data-target="#modal">Add user</button>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- ============================================================== -->
      <!-- basic table  -->
      <!-- ============================================================== -->
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <h5 class="card-header">Basic Table</h5>
          <div class="card-body">
            <div class="table-responsive">
              <table id="table" class="table table-striped table-bordered first">
                <thead>
                  <tr>
                    <th>CIN</th>
                    <th>TYPE</th>
                    <th>USERNAME</th>
                    <th>PASSWORD</th>
                    <th>EMAIL</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>COMPANY NAME</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of dataList">
                    <td>{{user.cin}}</td>
                    <td>{{user.type}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.companyName}}</td>
                    <td>
                      <button class="btn btn-secondary" data-toggle="modal" data-target="#modal" (click)="onEdit(user)">edit</button>
                      <button class="btn btn-danger" (click)="onDelete(user)">delete</button>
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end basic table  -->
      <!-- ============================================================== -->
    </div>


  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">              
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="user.username">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
              <label for="exampleInputPassword1">Address</label>
              <input type="text" class="form-control" name="Address" [(ngModel)]="user.address">
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="Individual" id="defaultGroupExample1" name="type"
                [(ngModel)]="user.type" checked>
              <label class="custom-control-label" for="defaultGroupExample1">Individual</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="Company" id="defaultGroupExample2" name="type"
                [(ngModel)]="user.type">
              <label class="custom-control-label" for="defaultGroupExample2">Company</label>
            </div>
            <div *ngIf="user.type=='Individual'">
                <div class="form-group">
                    <label for="exampleInputEmail1">CIN</label>
                    <input type="text" class="form-control" name="cin" [(ngModel)]="user.cin">
                  </div>
              <div class="form-group">
                <label for="exampleInputPassword1">First Name</label>
                <input type="test" class="form-control" name="firstname" [(ngModel)]="user.firstname">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastname">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Phone number 1</label>
                  <input type="test" class="form-control" name="phoneNumPrimary" [(ngModel)]="user.phoneNumPrimary">
                  <label for="exampleInputPassword1">Phone number 2</label>
                  <input type="text" class="form-control" name="phoneNumAlternative" [(ngModel)]="user.phoneNumAlternative">
                </div>
            </div>
            <div *ngIf="user.type=='Company'">
                <div class="form-group">
                    <label for="exampleInputPassword1">Company Name</label>
                    <input type="test" class="form-control" name="companyName" [(ngModel)]="user.companyName">
                    <label for="exampleInputPassword1">Company Type</label>
                    <input type="text" class="form-control" name="CompanyType" [(ngModel)]="user.companyType">
                  </div>
            </div>
            {{user | json}}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>