 

<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>{{listStores?.name}} </h1>
                <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita</p>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="/store">Stores</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a ><img src="assets/images/banner/banner-15.jpg" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a ><img src="assets/images/banner/banner-14.jpg" alt="Banner"></a></div>
        </div>

    </div>
</div><!-- Page Banner Section End -->


<!-- Product Section Start -->
<div class="product-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
           
            <div class="col-12">
                
                <div class="row mb-50">
                    <div class="col">
                       
                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar">

                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a class="active"  data-target="grid"><i class="fa fa-th"></i></a>
                              
                            </div>

                           
                              <h1 style="text-align: center;" > List Products  </h1>
                        

                            <!-- Product Short -->
                          

                            <!-- Product Pages -->
                            <div class="product-pages" style="margin-top:-50px ;">
                                
                                <p>-{{listStoreProduct?.length || '0' }}- Products</p>
                                <div class="header-shop-links">
                                        <a  class="header-cart" (click)="open(content,'nothing')" ><i class="ti-shopping-cart"></i> <span
                                            class="number">{{listPanierstore?.length || '0'}}</span>  </a>
            
                                        </div>
                            </div>

                        </div><!-- Shop Top Bar End -->
                        
                    </div>
                </div>
                
                <div *ngIf="!listStoreProduct">
                    <h1 style="text-align: center;">  NO Product Are Available Now in {{listStores.name}} ! </h1>
                    <h4> Soon.... <a href="/store"><i class="fa fa-angle-left"></i>Back to stores!</a> </h4>  
                    
                   </div>
            
                <!-- Shop Product Wrap Start -->
                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid row">

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10" *ngFor="let p of listStoreProduct">
                        
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                

                                <a  class="img"><img src="../../../../assets/images/product/{{p.products.imageUrl}}" alt="Product Image" width="150px" height="260px"></a>

                                <div class="wishlist-compare">
                                    <a  data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                    <a  data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                </div>

                                <a (click)="open(content,p)" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a  class="cat">{{p.products.category.name}}</a>
                                    <h5 class="title"><a href="single-product.html">{{p.products.label}}</a></h5>
                                    <div *ngIf="p.disponible==1;else other"> 
                                      <p><i class="fa fa-circle" style="color:rgb(66, 183, 42);"> </i> Available  </p> 
                                    </div>
                                    <ng-template #other>
                                       <p><i class="fa fa-circle" style="color:red;"> </i>Available  </p>
                                    </ng-template>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <div *ngIf="p.products.newprice==0;else old">
                                        <h5 class="price">{{p.products.unitPrice}} DT</h5>
                                        </div>
                                        <ng-template #old>
                                                <h5 class="price"><span class="old">{{p.products.unitPrice}} DT </span>{{p.products.newprice}} DT</h5>
                                        </ng-template>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>



                        
                  
                    </div>
                      


                      

              
                        
                  
                    </div>

                    
           
                
                
                
                
                
                
                
                
                <!-- Shop Product Wrap End -->
                
                <div class="row mt-30">
                    <div class="col">

                        <ul class="pagination">
                            <li><a><i class="fa fa-angle-left"></i>Back</a></li>
                            <li class="active"><a>1</a></li>
                          <!--  <li ><a href="#2">2</a></li>
                            <li><a href="#3">3</a></li>
                            <li> - - - - - </li>
                            <li><a href="#18">18</a></li>
                            <li><a href="#19">19</a></li>
                            <li><a href="#20">20</a></li>-->
                            <li><a>Next<i class="fa fa-angle-right"></i></a></li>
                        </ul>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div><!-- Feature Product Section End -->





  
    <!-- Subscribe Section Start -->
    <div class="subscribe-section section bg-gray pt-55 pb-55">
        <div class="container">
            <div class="row align-items-center">
                
                <!-- Mailchimp Subscribe Content Start -->
                <div class="col-lg-6 col-12 mb-15 mt-15">
                    <div class="subscribe-content">
                        <h2>SUBSCRIBE <span>OUR NEWSLETTER</span></h2>
                        <h2><span>TO GET LATEST</span> PRODUCT UPDATE</h2>
                    </div>
                </div><!-- Mailchimp Subscribe Content End -->
                
                
                <!-- Mailchimp Subscribe Form Start -->
                <div class="col-lg-6 col-12 mb-15 mt-15">
                    
                    <form class="subscribe-form" action="#">
                        <input type="email" autocomplete="off" placeholder="Enter your email here" />
                        <button >subscribe</button>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts text-centre">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div><!-- mailchimp-alerts end -->
                    
                </div><!-- Mailchimp Subscribe Form End -->
                
            </div>
        </div>
    </div><!-- Subscribe Section End -->
    
    <!-- Footer Section Start -->
    <div class="footer-section section bg-ivory">
       
        <!-- Footer Top Section Start -->
        <div class="footer-top-section section pt-90 pb-50">
            <div class="container">
                
                <div class="row">
                    
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                           
                            <h4 class="widget-title">CONTACT INFO</h4>
                            
                            <p class="contact-info">
                                <span>Address</span>
                                You address will be here <br>
                                 Lorem Ipsum text                        </p>
                            
                            <p class="contact-info">
                                <span>Phone</span>
                                <a href="tel:01234567890">01234 567 890</a>
                                <a href="tel:01234567891">01234 567 891</a>
                            </p>
                            
                            <p class="contact-info">
                                <span>Web</span>
                                <a href="mailto:info@example.com">info@example.com</a>
                                <a href="#">www.example.com</a>
                            </p>
                            
                        </div>
                    </div><!-- Footer Widget End -->
                    
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                           
                            <h4 class="widget-title">CUSTOMER CARE</h4>
                            
                            <ul class="link-widget">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Cart</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            
                        </div>
                    </div><!-- Footer Widget End -->
                    
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                           
                            <h4 class="widget-title">INFORMATION</h4>
                            
                            <ul class="link-widget">
                                <li><a href="#">Track your order</a></li>
                                <li><a href="#">Locate Store</a></li>
                                <li><a href="#">Online Support</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Payment</a></li>
                                <li><a href="#">Shipping & Returns</a></li>
                                <li><a href="#">Gift coupon</a></li>
                                <li><a href="#">Special coupon</a></li>
                            </ul>
                            
                        </div>
                    </div><!-- Footer Widget End -->
                    
                    <!-- Footer Widget Start -->
                    <div class="col-lg-3 col-md-6 col-12 mb-40">
                        <div class="footer-widget">
                           
                            <h4 class="widget-title">LATEST TWEET</h4>
                            
                            <div class="footer-tweet"></div>
                            
                        </div>
                    </div><!-- Footer Widget End -->
                    
                </div>
                
            </div>
        </div><!-- Footer Bottom Section Start -->
       
        <!-- Footer Bottom Section Start -->
        <div class="footer-bottom-section section">
            <div class="container">
                <div class="row">
                    
                    <!-- Footer Copyright -->
                    <div class="col-lg-6 col-12">
                        <div class="footer-copyright"><p>&copy; Copyright, 2018 All Rights Reserved by <a href="https://freethemescloud.com/">Free themes Cloud</a></p></div>
                    </div>
                    
                    <!-- Footer Payment Support -->
                    <div class="col-lg-6 col-12">
                        <div class="footer-payments-image"><img src="assets/images/payment-support.png" alt="Payment Support Image"></div>
                    </div>
                    
                </div>
            </div>
        </div><!-- Footer Bottom Section Start -->
        
    </div><!-- Footer Section End -->




    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title"  id="modal-basic-title"> Your CART <i class="fa fa-shopping-basket"></i></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

                <div *ngIf="!listPanierstore;else cart">
                        <h1 style="text-align: center;"> YOUR CART IS EMPTY!  </h1>
                        <h4 style="text-align: center;"><a (click)="modal.close('Save click')" >ADD Products to my CART <i class="fa fa-cart-plus"></i></a> </h4>  
                        
                       </div>
    
                       <ng-template #cart>
            <div class="table-responsive">
                        
                <table class="table table-striped table-bordered first" >
                    <thead>
                        <tr>
                            <th>STORE</th>
                            <th>IMAGE</th>
                            <th>CATEGORY</th>
                            <th>PRODUCT NAME</th>
                            <th>UNIT-PRICE</th>
                            <th><i class="fa fa-trash-o"></i>  DELETE</th>
    
                            
                            
                            
                        </tr>
                    </thead>
                    

    
                
                    <tbody *ngFor="let sp of listPanierstore;let i=index"  >
                    
                       <tr style="text-align: center;"> 
                          
                               <td>{{sp.stores.name}}</td>
                               <td><img [src]='"assets/images/product/"+sp.products.imageUrl+""' width="70" height="60">  </td>
                               <td>{{sp.products.category.name}} </td>
                               
                               <td>{{sp.products.label}}</td>
                       
                                <td *ngIf="sp.products.newprice==0;else new">{{sp.products.unitPrice}} DT</td>
                                <ng-template #new> <td> <s> {{sp.products.unitPrice}} DT </s> <br> {{sp.products.newprice}} DT</td>  </ng-template>
                          
                               <td><button class="btn btn-danger" (click)="delete(i)" > <i class="fa fa-trash-o"></i> Delete</button></td>
                               
                               
                           
                        </tr>
                      
                    </tbody>
               
           
                  
                    <tfoot>
                        <tr>
                                <th>STORE</th>
                                <th>IMAGE</th>
                                <th>CATEGORY</th>
                                <th>PRODUCT NAME</th>
                                <th>UNIT-PRICE</th>
                                <th><i class="fa fa-trash-o"></i>  DELETE</th>
                         
                        </tr>
                    </tfoot>
                </table>
                </div>

                <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="tobilling()">Validate <i class="fa fa-cart-arrow-down"></i></button>
                      </div>
            </ng-template>
    
                
        
        </div>

       
        
     
      </ng-template>