
   <div class="row">
      <div class="col-xl-12">
          <!-- ============================================================== -->
          <!-- pageheader  -->
          <!-- ============================================================== -->
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-header" id="top">
                      <h2 class="pageheader-title">Add </h2>
                      
                      <div class="page-breadcrumb">
                          <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Category-Manage</a></li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>

<div class="row">
    <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="section-block" id="basicform">
                <h3 class="section-title">Add Category</h3>
               
            </div>
            <div class="card">
               <div class="card-header d-flex">
                    <h4 class="card-header-title">Category</h4>
               
                </div>
                <div class="card-body">
                    <form [formGroup]="CategoryForm">

                         <div class="form-group">
                            <label for="inputText3" class="col-form-label" >Category Name</label>
                            <input type="text" class="form-control" id="inputText3" formControlName="name" >
                            <div *ngIf="pform.name.touched && pform.name.invalid">
                                    <div *ngIf="pform.name.errors.required" class="alert alert-danger">
                                     <i class="fas fa-minus-circle"></i> Category Name Is Required!
                                    </div>
                                    </div>
                         </div>
                        
                        <button class="btn btn-primary" (click)="addCategory()" [disabled]="CategoryForm.invalid" >Save</button>
                       
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" id="#list">
            <div class="section-block" id="basicform">
                    <h3 class="section-title">LIST-Category</h3>
                   
                </div>
        <div class="card">
                <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col"><i class="fas fa-edit"></i> Update</th>
                                    <th scope="col"><i class="fas fa-trash-alt"> </i> Delete</th>
                                </tr>
                            </thead>
                            <tbody >

                                <tr *ngFor="let c of categories"> 
                                       <td scope="row">{{c.id}}</td>
                                       <td>{{c.name}}</td>
                                       <td><button class="btn btn-brand"   (click)="open(content,c)">Update</button></td>
                                       <td><button class="btn btn-danger" (click)="delete(c.id)">Delete</button></td>
                                       
                                       

                                </tr>
                                
                            </tbody>
    
                        </table>
                        <div class="d-flex justify-content-between p-2">
                                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                                </ngb-pagination>
                              
                                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                  <option [ngValue]="25">25 items per page</option>
                                  <option [ngValue]="50">50 items per page</option>
                                  <option [ngValue]="100">100 items per page</option>
                                </select>
                              </div>
                    </div>
            
         
        
    </div>
    </div>

    <!-- ============================================================== -->
    <!-- end basic form  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
   
</div>

</div>
</div>




<!--Update FORM-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Category update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">  
        
        <form [formGroup]="CategoryUpdateForm">

            <div class="form-group">
                <label for="inputText3" class="col-form-label" >Category Name</label>
                <input type="text" class="form-control" id="inputText3" formControlName="name" value="{{categoryUpdate.name}}" >
                              <div *ngIf="pUpdateform.name.touched && pUpdateform.name.invalid" >
                                    <div *ngIf="pUpdateform.name.errors.required" class="alert alert-warning">
                                            <i class="fas fa-exclamation-triangle"></i>   No Changes Have been Done !
                                    </div>
                                    </div>
              </div>
                         
                         
                         
                           <div class="modal-footer">
                          <button class="btn btn-outline-dark" (click)="updateCategory()"  >Validate</button>
                        </div>
                      </form>
                    </div>
                   
                     
                 
                </ng-template>
                  
               
