
<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
<div class="page-banner-wrap row row-0 d-flex align-items-center ">

  <!-- Page Banner -->
  <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
      <div class="page-banner">
          <h1>Checkout</h1>
          <div class="breadcrumb">
              <ul>
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Checkout</a></li>
              </ul>
          </div>
      </div>
  </div>

  <!-- Banner -->
  <div class="col-lg-4 col-md-6 col-12 order-lg-1">
      <div class="banner"><a href="#"><img src="assets/images/banner/banner-15.jpg" alt="Banner"></a></div>
  </div>

  <!-- Banner -->
  <div class="col-lg-4 col-md-6 col-12 order-lg-3">
      <div class="banner"><a href="#"><img src="assets/images/banner/banner-14.jpg" alt="Banner"></a></div>
  </div>

</div>
</div><!-- Page Banner Section End -->

<!-- Checkout Page Start -->
<div class="page-section section mt-90 mb-30">
<div class="container">
  <div class="row">
      <div class="col-12">
          
         
             <div class="row row-40">
                 
                 <div class="col-lg-7 mb-20">
                    
                     <!-- Cart Total -->
                     <div class="col-12 mb-60">
                         
                        <h4 class="checkout-title">Cart Total</h4>
                <!--List product from cart with each line I execute add line-->
                        <div  class="checkout-cart-total">
                            <h4>Product <span>Price</span></h4>
                            

                            <ul>
                            <ng-container *ngFor="let sp of listPanier" >
                                <li>{{sp.products.label}} <span *ngIf="sp.products.newprice==0;else other">{{sp.products.unitPrice}} DT</span> <ng-template #other><span> {{sp.products.newprice}} DT</span>   </ng-template></li>
                            </ng-container>
                            </ul>
                        
                                                                 
                            <h4>Total <span>{{ total }} DT</span></h4>
                            
                        </div>
                        
                    </div>
                                              
                     
                 </div>
                 
                 <div class="col-lg-5">
                     <div class="row">
                         
                        
                         
                         <!-- Payment Method -->
                         <div class="col-12 mb-60">
                         
                             <h4 class="checkout-title">Payment Method</h4>
                     
                             <div class="checkout-payment-method">
                                <div class="single-method">
                                    <input  type="radio" id="payment_cash" name="payment-method" value="cash">
                                    <label for="payment_cash">Paypal</label>       <br>
                                    <div #paypal></div>
                                </div>
                                 <div class="single-method">
                                     <input type="radio"  id="payment_cash" name="payment-method" value="cash">
                                     <label for="payment_cash">Cash on Delivery</label>
                                 </div>                                 
                               
                                 <div class="single-method">
                                     <input type="checkbox" id="accept_terms">
                                     <label for="accept_terms">I’ve read and accept the terms & conditions</label>
                                 </div>
                                 
                             </div>
                             
                             <button type="submit" class="place-order" (click)="sendRequest()" [routerLink]="['/billing/management']" >Order</button>
                             <!-- create quote + download pdf-->
                             <button  class="place-order" style="background-color: rgba(207, 204, 204, 0.698);margin-left: 10px;">Quote</button>

                             
                             
                         </div>
                         
                     </div>
                 </div>
                 
             </div>
          
      </div>
  </div>
</div>
</div>
<!-- Checkout Page End --> 

<!-- Banner Section Start -->
<div class="banner-section section mb-90">
<div class="container">
  <div class="row">
      
      <!-- Banner -->
      <div class="col-12">
          <div class="banner"><a href="#"><img src="assets/images/banner/banner-10.jpg" alt="Banner"></a></div>
      </div>
      
  </div>
</div>
</div><!-- Banner Section End -->

<!-- Brands Section Start -->
<div class="brands-section section mb-90">
<div class="container">
    <div class="row">
        
        <div class="brand-item col-3"><img src="assets/images/brands/brand-1.png" alt="Brands"></div>
            <div class="brand-item col-3"><img src="assets/images/brands/brand-2.png" alt="Brands"></div>
            <div class="brand-item col-3"><img src="assets/images/brands/brand-3.png" alt="Brands"></div>
            <div class="brand-item col-3"><img src="assets/images/brands/brand-4.png" alt="Brands"></div>
        
    </div>
</div>
</div><!-- Brands Section End -->



